.print-modal {
    position: absolute;
    left: 94%;
    top: 5%;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: white;
    border: solid 1px #2a613a;
}

.print-button {
    padding: 10px;
}

.generic-title {
    margin: 0;
}