.toolbar {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: -1px;
    flex-wrap: wrap;
    background-color: #347447;
}

button {
    background-color: #347447;
    display: block;
    width: 87px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #ccc;
    font-size: 14px;
}

.interface-btn:focus {
    background-color: #2a613a;
    color: white;
}

button:hover {
    background-color: #2a613a;
    color: #fff;
}

button:focus {
    outline: none;
}